@model IEnumerable<Review>
@{
    var reviews = (IEnumerable<Review>)@ViewBag.rev;
}
@Html.ActionLink("Create New", "../Reviews/Create", new{ restID = reviews.First().RestaurantID })
<table>
    @foreach (var item in reviews)
    {
        <tr>
            <dl class="dl-horizontal">

                <dt>
                    Username
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.Username)
                </dd>

                <dt>
                    Rating
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.Rating)
                </dd>

                <dt>
                    Headline
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.Headline)
                </dd>

                <dt>
                    Body
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.Body)
                </dd>

                <dt>
                    Reviewed on:
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.ReviewedOn)
                </dd>
                @Html.ActionLink("Edit", "../Reviews/Edit/"+item.ReviewID)
                @Html.ActionLink("Delete", "../Reviews/Delete", new { id = item.ReviewID })
            </dl>
        </tr>
    }
</table>